body { background-color: #100; color: #eee; font: 18px/24px 'Alegreya Sans', sans-serif; }
#page { width: 640px; margin: 0 auto; background-color: #322; padding: 10px; }
#news { font: 20px/24px Rokkitt; margin: 0; text-align: right; }
#nav { font: 24px/30px Rokkitt; text-align: center; color: #f11; border-top: solid 2px #eee; border-bottom: solid 2px #eee; margin: 6px 0; }
a, a:active, a:visited { color: #f11; text-decoration: none; }
a:hover { color: #f33; text-decoration: underline; }
#nav a { padding: 0 5px; }
#nav a.selected { text-decoration: none; color: #eee; }
h1 { font: 54px Rokkitt; text-align: center; color: #f11; margin: 24px 0 12px 0; }
h2 { font: 40px Rokkitt; text-align: center; color: #f11; margin: 12px 0; }
h3 { font: 24px Rokkitt; text-align: center; color: #f11; margin: 12px 0; }
p { margin: 18px 0; }
.text-centered { text-align: center; }
div.hr { height: 2px; background-color: #f11; margin: 0 auto; }
iframe.yt { width: 480px; height: 360px; }
th { font-weight: bold; }
table#chorus { text-align: center; margin: 0 auto; }
table#chorus th { border-bottom: solid 2px #f11; }
table#chorus td { padding: 16px; }
table.text-centered { margin: 0 auto; }
table.text-centered th, table.text-centered td { text-align: center; }
table.padded th, table.padded td { padding: 10px; }
.centered { display: block; margin: 24px auto; }
img.float-left { display: block; float: left; margin-right: 20px; }
div#footer { margin: 18px auto; width: 84px; }
div#footer a { display: block; float: left; padding: 0 5px; }
.clearboth { clear: both; }

strong { font-weight: bold; }
em, i { font-style: italic; }
small, .text-smaller { font-size: smaller }
