<!doctype html>
<html>
  <head>
    <title>Capital Chamber Choir: {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/js/galleria/themes/classic/galleria.classic.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/master.css?{{ site.time }}" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div id="page">
      <p id="news">
        Up next: Journey from This World, May 4th, 2012!
      </p>
      <p id="nav">
        <a id="welcomeLink" href="/index.html">Welcome</a>
        <a id="concertLink" href="/concerts.html">Concerts</a>
        <a id="artistLink" href="/artists.html">Meet the Artists</a>
        <a id="galleryLink" href="/gallery.html">Gallery</a>
        <a id="contactLink" href="/contact.html">Contact Us</a>
      </p>
      <h1>Capital Chamber Choir</h1>
      <h2>{{ page.title }}</h2>

{{ content }}

      <div id="footer">
        <a href="http://www.facebook.com/group.php?gid=53238598649"><img src="/images/facebook_32.png" alt="Join our Facebook Group!" title="Join our Facebook Group!" /></a>
        <a href="http://twitter.com/CCChoir"><img src="/images/twitter_32.png" alt="Follow us @CCChoir" title="Follow us @CCChoir" /></a>
      </div>
      <br class="clearboth" />
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/js/galleria/galleria-1.2.4.min.js"></script>
    <script src="/js/galleria/themes/classic/galleria.classic.min.js"></script>
    <script>var linkName = '{{ page.linkName }}';</script>
    <script src="/js/script.js?{{ site.time }}"></script>
  </body>
</html>
